<ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado: terminada">


    <ion-list>
        <ion-item detail color="dark" (click)="listaSeleccionada(lista)">
            <ion-label>{{lista.titulo}}</ion-label>
            <ion-note slot="end" color="tertiary">{{ lista.items.length}} items</ion-note>
        </ion-item>
    </ion-list>

    <ion-item-options side="start">
        <ion-item-option (click)="borrarLista(lista)" color="danger">
            <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-item-option>

    </ion-item-options>

</ion-item-sliding>